In [1]:
import sqlite3 
import pandas as pd
import numpy as np
import requests 
pd.options.display.float_format = '{:.2f}'.format
# from lib import MongoHandler, WeatherGetter
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [2]:
cur.execute("""SELECT DISTINCT Date, HomeTeam, FTHG, AwayTeam, FTAG, FTR
                FROM teams_in_matches
                JOIN unique_teams
                USING(unique_team_id)
                JOIN matches
                USING (match_id)
                WHERE season IN (SELECT season
                                    FROM matches 
                                    WHERE season == '2011')
            """)

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df = df.sort_values(by=['FTR'])
df.head()

           Date  HomeTeam  FTHG       AwayTeam  FTAG FTR
0    2012-03-31  Nurnberg     0  Bayern Munich     1   A
673  2011-10-01   Everton     0      Liverpool     2   A
676  2011-10-01    Wolves     1      Newcastle     2   A
677  2011-10-02    Bolton     1        Chelsea     5   A
687  2011-10-15     Wigan     1         Bolton     3   A

In [3]:
# df['Date'] = pd.to_datetime(df['Date'])

In [4]:
# from datetime import date
# from time import mktime

# Timestamps = []

# for x in df['Date']:
#     Timestamps.append(mktime(x.timetuple()))

In [5]:
# #CREATE UNIX TIMESTAMP COLUMN
# df['Timestamps'] = Timestamps
# Timestamps2 = df['Timestamps'].astype(int)
# Timestamps2

In [6]:
#AWAY WINS
cur.execute("""SELECT DISTINCT match_id, AwayTeam 
                FROM teams_in_matches
                JOIN unique_teams
                USING(unique_team_id)
                JOIN matches
                USING (match_id)
                WHERE season IN (SELECT season
                                    FROM matches 
                                    WHERE season == '2011')
               AND
               ftr = 'A'   
            """)

away_df = pd.DataFrame(cur.fetchall())
away_df.columns = [i[0] for i in cur.description]
away_df = away_df.groupby(away_df['AwayTeam']).count()

In [7]:
#HOME WINS
cur.execute("""SELECT DISTINCT match_id, HomeTeam 
                FROM teams_in_matches
                JOIN unique_teams
                USING(unique_team_id)
                JOIN matches
                USING (match_id)
                WHERE season IN (SELECT season
                                    FROM matches 
                                    WHERE season == '2011')
               AND
               ftr = 'H'   
            """)

home_df = pd.DataFrame(cur.fetchall())
home_df.columns = [i[0] for i in cur.description]
home_df = home_df.groupby(home_df['HomeTeam']).count()

In [8]:
df_wins = home_df.join(away_df, lsuffix='_Home', rsuffix='_Away')
df_wins.columns = ['Home_Wins', 'Away_Wins']

In [9]:
#TOTAL WINS
total_wins = []
home_wins = df_wins['Home_Wins']
away_wins = df_wins['Away_Wins']


for item in df_wins.index:
    wins = home_wins[item] + away_wins[item]
    total_wins.append(wins)

df_wins['Total_Wins'] = total_wins

In [10]:
#DRAWS
cur.execute("""SELECT DISTINCT match_id, HomeTeam, FTHG, AwayTeam, FTAG
                FROM teams_in_matches
                JOIN unique_teams
                USING(unique_team_id)
                JOIN matches
                USING (match_id)
                WHERE season IN (SELECT season
                                    FROM matches 
                                    WHERE season == '2011')
               AND
               ftr = 'D'   
            """)

draws_df = pd.DataFrame(cur.fetchall())
draws_df.columns = [i[0] for i in cur.description]
draws_df = draws_df.groupby(draws_df['AwayTeam'])
draws_df.head()

# home = draws_df['HomeTeam'].count()
# home
away = draws_df['AwayTeam'].count()
df_wins['Total_Draws'] = away

In [11]:
#Home Losses
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

q ="""SELECT COUNT(HomeTeam), HomeTeam
        FROM df
        WHERE FTR = 'A'
        GROUP BY HomeTeam       
    """

results = pysqldf(q)
df3 = pd.DataFrame(results)

In [12]:
#Away Losses
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

q ="""SELECT COUNT(AwayTeam)
        FROM df
        WHERE FTR = 'H'
        GROUP BY AwayTeam        
    """

results = pysqldf(q)
df4 = pd.DataFrame(results)

In [13]:
#Home Wins
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

q ="""SELECT COUNT(HomeTeam)
        FROM df
        WHERE FTR = 'H'
        GROUP BY HomeTeam       
    """

results = pysqldf(q)
df5 = pd.DataFrame(results)

In [14]:
#Away Wins
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

q ="""SELECT COUNT(AwayTeam)
        FROM df
        WHERE FTR = 'A'
        GROUP BY AwayTeam       
    """

results = pysqldf(q)
df6 = pd.DataFrame(results)

In [15]:
df_losses = df3.join(df4)
df_losses = df_losses.join(df5, rsuffix='HomeWins' )
df_losses = df_losses.join(df6, rsuffix='AwayWins')
df_losses

,COUNT(HomeTeam),HomeTeam,COUNT(AwayTeam),COUNT(HomeTeam)HomeWins,COUNT(AwayTeam)AwayWins
0,7,Aachen,8,4,2
1,3,Arsenal,7,12,9
2,8,Aston Villa,6,4,3
3,4,Augsburg,8,6,2
4,2,Bayern Munich,5,14,9
5,12,Blackburn,11,6,2
6,7,Bochum,10,7,3
7,11,Bolton,11,4,6
8,3,Braunschweig,6,6,4
9,4,Chelsea,6,12,6
10,5,Cottbus,10,4,4
11,1,Dortmund,2,14,11
12,4,Dresden,9,8,4
13,7,Duisburg,8,8,2
14,1,Ein Frankfurt,5,11,9
15,5,Erzgebirge Aue,10,5,3
16,6,Everton,6,10,5
17,8,FC Koln,12,5,3
18,1,Fortuna Dusseldorf,3,11,5
19,4,Frankfurt FSV,9,3,4
20,5,Freiburg,9,6,4
21,4,Fulham,10,10,4
22,2,Greuther Furth,2,14,6
23,7,Hamburg,7,3,5
24,7,Hansa Rostock,10,10,2
25,10,Hertha,10,3,2
26,4,Hoffenheim,7,4,3
27,3,Ingolstadt,9,4,6
28,10,Kaiserslautern,10,6,2
29,6,Karlsruhe,9,2,2
30,5,Leverkusen,13,8,1
31,4,Liverpool,5,8,7
32,1,M'gladbach,10,6,8
33,7,Mainz,7,9,8
34,2,Man United,6,7,2
35,5,Munich 1860,5,18,10
36,3,Newcastle,3,15,13
37,6,Norwich,6,10,7
38,7,Nurnberg,8,11,8
39,2,Paderborn,9,7,5
40,7,QPR,9,6,6
41,3,Schalke 04,5,9,8
42,2,St Pauli,14,7,3
43,4,Stoke,7,13,7
44,4,Stuttgart,6,12,6
45,5,Sunderland,11,7,4
46,4,Swansea,7,10,5
47,3,Tottenham,10,7,4
48,4,Union Berlin,11,8,4
49,5,Werder Bremen,6,13,7
50,10,West Brom,10,11,3
51,7,Wigan,9,8,3
52,5,Wolfsburg,7,6,7
53,13,Wolves,10,5,6

In [16]:
Team = []
Wins = []
Losses = []

for x in df_losses.index:
    Team.append(df_losses['HomeTeam'][x])
    Wins.append(df_losses['COUNT(HomeTeam)HomeWins'][x] + df_losses['COUNT(AwayTeam)AwayWins'][x])
    Losses.append(df_losses['COUNT(HomeTeam)'][x] + df_losses['COUNT(AwayTeam)'][x])

   

for x in Team:
    dict = {}
    dict[x] = "Team:"
#     print("Team: ", Team[x])
#     print("Wins: ", Wins[x])
#     print("Losses", Losses[x])
#     print("")

dict

{'Wolves': 'Team:'}

In [18]:
# dict(list(enumerate(values)))
# Out[7]: {0: 'Hi', 1: 'I', 2: 'am', 3: 'John'}

In [19]:
df_losses = home_df.join(away_df, lsuffix='_Home', rsuffix='_Away')
df_losses.columns = ['Home_Losses', 'Away_Losses']

In [20]:
#TOTAL LOSSES
total_losses = []
home_losses = df_losses['Home_Losses']
away_losses = df_losses['Away_Losses']


for item in df_losses.index:
    loss = home_losses[item] + away_losses[item]
    total_losses.append(loss)

df_losses['Total_losses'] = total_losses
df_wins['Total_Losses'] = df_losses['Total_losses']

In [21]:
df_wins.head()

               Home_Wins  Away_Wins  Total_Wins  Total_Draws  Total_Losses
HomeTeam
Aachen                 4          2           6            7             6
Arsenal               12          9          21            3            21
Aston Villa            4          3           7           10             7
Augsburg               6          2           8            7             8
Bayern Munich         14          9          23            3            23

In [40]:
for x in df_wins.index:
    print("['Team' : '{}']".format(x))

['Team' : 'Aachen']
['Team' : 'Arsenal']
['Team' : 'Aston Villa']
['Team' : 'Augsburg']
['Team' : 'Bayern Munich']
['Team' : 'Blackburn']
['Team' : 'Bochum']
['Team' : 'Bolton']
['Team' : 'Braunschweig']
['Team' : 'Chelsea']
['Team' : 'Cottbus']
['Team' : 'Dortmund']
['Team' : 'Dresden']
['Team' : 'Duisburg']
['Team' : 'Ein Frankfurt']
['Team' : 'Erzgebirge Aue']
['Team' : 'Everton']
['Team' : 'FC Koln']
['Team' : 'Fortuna Dusseldorf']
['Team' : 'Frankfurt FSV']
['Team' : 'Freiburg']
['Team' : 'Fulham']
['Team' : 'Greuther Furth']
['Team' : 'Hamburg']
['Team' : 'Hannover']
['Team' : 'Hansa Rostock']
['Team' : 'Hertha']
['Team' : 'Hoffenheim']
['Team' : 'Ingolstadt']
['Team' : 'Kaiserslautern']
['Team' : 'Karlsruhe']
['Team' : 'Leverkusen']
['Team' : 'Liverpool']
['Team' : 'M'gladbach']
['Team' : 'Mainz']
['Team' : 'Man City']
['Team' : 'Man United']
['Team' : 'Munich 1860']
['Team' : 'Newcastle']
['Team' : 'Norwich']
['Team' : 'Nurnberg']
['Team' : 'Paderborn']
['Team' : 'QPR']
['Team' : 'Schalke 04']
['Team' : 'St Pauli']
['Team' : 'Stoke']
['Team' : 'Stuttgart']
['Team' : 'Sunderland']
['Team' : 'Swansea']
['Team' : 'Tottenham']
['Team' : 'Union Berlin']
['Team' : 'Werder Bremen']
['Team' : 'West Brom']
['Team' : 'Wigan']
['Team' : 'Wolfsburg']
['Team' : 'Wolves']

In [ ]:
list(df_wins[])

In [22]:
unique_dates=cur.execute("SELECT DISTINCT Date FROM Matches WHERE Season IS 2011;").fetchall()

listo=[]
for date in unique_dates:
    for datetime in date:
        listo.append(datetime + "T13:00:00")
listo

weather_dates={}
for date in listo:
    result = requests.get(f"https://api.darksky.net/forecast/958870d7f05d6ce07081ed0698de9eca/52.520008,13.404954,{date}").json()
#     weather_type=call_weather['currently']['summary']
    weather_dates[date]=result['currently'].get('icon') if result['currently'].get('icon') else result['currently'].get('summary')




weather_dates

weather_dates_day={}
for date in weather_dates:
   weather_dates_day[date[:10]]=weather_dates[date]
weather_dates_day

{'2012-03-31': 'partly-cloudy-day',
 '2011-12-11': 'partly-cloudy-day',
 '2011-08-13': 'partly-cloudy-day',
 '2011-11-27': 'partly-cloudy-day',
 '2012-02-18': 'partly-cloudy-day',
 '2012-01-20': 'partly-cloudy-day',
 '2012-02-04': 'partly-cloudy-day',
 '2012-04-21': 'partly-cloudy-day',
 '2011-09-18': 'partly-cloudy-day',
 '2011-10-23': 'Clear',
 '2011-10-01': 'Clear',
 '2012-03-03': 'Clear',
 '2011-08-27': 'partly-cloudy-day',
 '2012-03-17': 'Clear',
 '2011-11-06': 'Clear',
 '2012-05-05': 'partly-cloudy-day',
 '2012-04-11': 'partly-cloudy-day',
 '2011-12-17': 'partly-cloudy-day',
 '2012-02-03': 'partly-cloudy-day',
 '2011-10-29': 'Clear',
 '2012-01-22': 'partly-cloudy-day',
 '2011-12-03': 'cloudy',
 '2012-04-14': 'partly-cloudy-day',
 '2012-03-25': 'Clear',
 '2012-03-10': 'partly-cloudy-day',
 '2012-04-07': 'partly-cloudy-day',
 '2011-11-19': 'Clear',
 '2011-10-14': 'partly-cloudy-day',
 '2011-09-24': 'clear-day',
 '2012-04-28': 'Clear',
 '2011-12-18': 'partly-cloudy-day',
 '2012-03-02': 'partly-cloudy-day',
 '2012-03-16': 'Clear',
 '2012-02-17': 'partly-cloudy-day',
 '2011-08-06': 'partly-cloudy-day',
 '2011-11-04': 'Clear',
 '2011-09-16': 'partly-cloudy-day',
 '2011-07-15': 'partly-cloudy-day',
 '2012-05-06': 'partly-cloudy-day',
 '2012-02-11': 'partly-cloudy-day',
 '2011-10-02': 'Clear',
 '2012-03-30': 'partly-cloudy-day',
 '2011-10-22': 'Clear',
 '2011-08-26': 'clear-day',
 '2011-08-07': 'rain',
 '2012-02-24': 'partly-cloudy-day',
 '2011-07-17': 'Clear',
 '2012-02-12': 'partly-cloudy-day',
 '2011-08-22': 'clear-day',
 '2011-09-09': 'rain',
 '2012-04-01': 'clear-day',
 '2011-09-25': 'Clear',
 '2012-04-20': 'partly-cloudy-day',
 '2011-11-25': 'Clear',
 '2012-03-09': 'partly-cloudy-day',
 '2011-11-07': 'Clear',
 '2011-09-10': 'partly-cloudy-day',
 '2011-08-21': 'Clear',
 '2011-09-26': 'Clear',
 '2012-03-26': 'Clear',
 '2011-10-30': 'Clear',
 '2012-02-13': 'partly-cloudy-day',
 '2012-02-26': 'clear-day',
 '2011-12-19': 'partly-cloudy-day',
 '2012-03-11': 'partly-cloudy-day',
 '2011-11-26': 'partly-cloudy-day',
 '2012-04-23': 'partly-cloudy-day',
 '2011-12-16': 'rain',
 '2011-11-05': 'Clear',
 '2012-04-10': 'partly-cloudy-day',
 '2012-04-15': 'Clear',
 '2012-02-05': 'partly-cloudy-day',
 '2012-03-04': 'Clear',
 '2011-09-17': 'Clear',
 '2012-01-21': 'cloudy',
 '2012-03-18': 'partly-cloudy-day',
 '2012-04-22': 'partly-cloudy-day',
 '2011-08-20': 'clear-day',
 '2012-02-10': 'Clear',
 '2012-02-25': 'partly-cloudy-day',
 '2011-12-10': 'partly-cloudy-day',
 '2012-01-29': 'Clear',
 '2011-10-16': 'Clear',
 '2011-08-05': 'cloudy',
 '2012-03-23': 'clear-day',
 '2011-09-23': 'partly-cloudy-day',
 '2012-01-28': 'Clear',
 '2011-10-15': 'clear-day',
 '2012-03-24': 'Clear',
 '2011-11-18': 'fog',
 '2012-04-29': 'Clear',
 '2011-12-09': 'clear-day',
 '2012-04-08': 'Clear',
 '2012-03-12': 'partly-cloudy-day',
 '2011-07-23': 'partly-cloudy-day',
 '2011-10-28': 'partly-cloudy-day',
 '2012-01-27': 'Clear',
 '2011-12-04': 'partly-cloudy-day',
 '2011-09-11': 'partly-cloudy-day',
 '2011-09-30': 'Clear',
 '2012-02-19': 'partly-cloudy-day',
 '2012-04-13': 'partly-cloudy-day',
 '2011-10-21': 'partly-cloudy-day',
 '2011-08-14': 'partly-cloudy-day',
 '2011-09-12': 'partly-cloudy-day',
 '2011-07-18': 'partly-cloudy-day',
 '2011-08-08': 'partly-cloudy-day',
 '2011-07-24': 'partly-cloudy-day',
 '2011-12-13': 'rain',
 '2011-08-28': 'partly-cloudy-day',
 '2011-08-19': 'partly-cloudy-day',
 '2012-03-14': 'partly-cloudy-day',
 '2011-08-12': 'partly-cloudy-day',
 '2012-03-05': 'Clear',
 '2011-12-02': 'partly-cloudy-day',
 '2011-09-19': 'partly-cloudy-day',
 '2011-07-25': 'partly-cloudy-day',
 '2012-04-02': 'partly-cloudy-day',
 '2012-02-06': 'Clear',
 '2011-11-21': 'Clear',
 '2011-07-22': 'rain',
 '2011-08-29': 'partly-cloudy-day',
 '2012-04-05': 'partly-cloudy-day',
 '2011-11-28': 'Clear',
 '2011-12-12': 'partly-cloudy-day',
 '2011-11-20': 'Clear',
 '2012-02-27': 'partly-cloudy-day',
 '2011-07-16': 'clear-day',
 '2011-10-31': 'partly-cloudy-day',
 '2012-02-20': 'partly-cloudy-day',
 '2011-10-17': 'Clear',
 '2011-12-05': 'partly-cloudy-day',
 '2012-04-16': 'Clear',
 '2011-10-03': 'Clear',
 '2012-03-19': 'clear-day',
 '2011-08-15': 'partly-cloudy-day',
 '2011-12-20': 'partly-cloudy-day',
 '2011-12-21': 'rain',
 '2011-12-22': 'partly-cloudy-day',
 '2011-12-26': 'partly-cloudy-day',
 '2011-12-27': 'partly-cloudy-day',
 '2011-12-30': 'rain',
 '2011-12-31': 'partly-cloudy-day',
 '2012-01-01': 'rain',
 '2012-01-02': 'rain',
 '2012-01-03': 'partly-cloudy-day',
 '2012-01-04': 'partly-cloudy-day',
 '2012-01-11': 'partly-cloudy-day',
 '2012-01-14': 'partly-cloudy-day',
 '2012-01-15': 'partly-cloudy-day',
 '2012-01-16': 'sleet',
 '2012-01-31': 'Clear',
 '2012-02-01': 'Clear',
 '2012-03-13': 'partly-cloudy-day',
 '2012-03-20': 'partly-cloudy-day',
 '2012-03-21': 'partly-cloudy-day',
 '2012-04-06': 'partly-cloudy-day',
 '2012-04-09': 'Clear',
 '2012-04-24': 'Clear',
 '2012-04-30': 'Clear',
 '2012-05-01': 'Clear',
 '2012-05-02': 'clear-day',
 '2012-05-07': 'partly-cloudy-day',
 '2012-05-08': 'partly-cloudy-day',
 '2012-05-13': 'partly-cloudy-day'}

In [23]:
df['weather'] = df['Date'].map(weather_dates_day)
df

,Date,HomeTeam,FTHG,AwayTeam,FTAG,FTR,weather
0,2012-03-31,Nurnberg,0,Bayern Munich,1,A,partly-cloudy-day
673,2011-10-01,Everton,0,Liverpool,2,A,Clear
676,2011-10-01,Wolves,1,Newcastle,2,A,Clear
677,2011-10-02,Bolton,1,Chelsea,5,A,Clear
687,2011-10-15,Wigan,1,Bolton,3,A,clear-day
691,2011-10-22,Aston Villa,1,West Brom,2,A,Clear
692,2011-10-22,Bolton,0,Sunderland,2,A,Clear
235,2011-09-16,Freiburg,1,Stuttgart,2,A,partly-cloudy-day
697,2011-10-23,Blackburn,1,Tottenham,2,A,Clear
698,2011-10-23,Fulham,1,Everton,3,A,Clear
699,2011-10-23,Man United,1,Man City,6,A,Clear
231,2012-03-03,Hamburg,0,Stuttgart,4,A,Clear
230,2012-04-10,Augsburg,1,Stuttgart,3,A,partly-cloudy-day
229,2012-03-16,Hoffenheim,1,Stuttgart,2,A,Clear
701,2011-10-29,Chelsea,3,Arsenal,5,A,Clear
227,2011-09-30,Kaiserslautern,0,Stuttgart,2,A,Clear
702,2011-10-29,Everton,0,Man United,1,A,Clear
707,2011-10-29,West Brom,0,Liverpool,2,A,Clear
672,2011-10-01,Blackburn,0,Man City,4,A,Clear
708,2011-10-29,Wigan,0,Fulham,2,A,Clear
249,2012-02-18,Hamburg,1,Werder Bremen,3,A,partly-cloudy-day
252,2011-10-29,Mainz,1,Werder Bremen,3,A,Clear
624,2011-08-20,Everton,0,QPR,1,A,clear-day
279,2011-08-13,Nurnberg,1,Hannover,2,A,partly-cloudy-day
625,2011-08-20,Sunderland,0,Newcastle,1,A,clear-day
627,2011-08-21,Bolton,2,Man City,3,A,Clear
632,2011-08-27,Blackburn,0,Everton,1,A,partly-cloudy-day
271,2011-10-01,Ingolstadt,3,Bochum,5,A,Clear
639,2011-08-28,Tottenham,1,Man City,5,A,partly-cloudy-day
640,2011-08-28,West Brom,0,Stoke,1,A,partly-cloudy-day
...,...,...,...,...,...,...,...
663,2011-09-24,Liverpool,2,Wolves,1,H,clear-day
662,2011-09-24,Chelsea,4,Swansea,1,H,clear-day
661,2011-09-24,Arsenal,3,Bolton,0,H,clear-day
660,2011-09-18,Tottenham,4,Liverpool,0,H,partly-cloudy-day
659,2011-09-18,Sunderland,4,Stoke,0,H,partly-cloudy-day
658,2011-09-18,Man United,3,Chelsea,1,H,partly-cloudy-day
256,2012-04-11,Aachen,2,Bochum,0,H,partly-cloudy-day
257,2011-09-12,Dresden,2,Bochum,1,H,partly-cloudy-day
655,2011-09-17,Swansea,3,West Brom,0,H,Clear
654,2011-09-17,Everton,3,Wigan,1,H,Clear
258,2012-03-30,Ein Frankfurt,3,Bochum,0,H,partly-cloudy-day
652,2011-09-17,Blackburn,4,Arsenal,3,H,Clear
261,2012-02-12,St Pauli,2,Bochum,1,H,partly-cloudy-day
742,2011-12-03,Blackburn,4,Swansea,2,H,cloudy
262,2011-08-20,Union Berlin,2,Bochum,1,H,clear-day
266,2012-03-18,Duisburg,2,Bochum,1,H,partly-cloudy-day
645,2011-09-10,Stoke,1,Liverpool,0,H,partly-cloudy-day
644,2011-09-10,Man City,3,Wigan,0,H,partly-cloudy-day
268,2011-07-18,Fortuna Dusseldorf,2,Bochum,0,H,partly-cloudy-day
641,2011-09-10,Arsenal,1,Swansea,0,H,partly-cloudy-day
269,2012-02-25,Greuther Furth,6,Bochum,2,H,partly-cloudy-day
638,2011-08-28,Newcastle,2,Fulham,1,H,partly-cloudy-day
637,2011-08-28,Man United,8,Arsenal,2,H,partly-cloudy-day
636,2011-08-27,Wigan,2,QPR,0,H,partly-cloudy-day
272,2012-03-24,Bayern Munich,2,Hannover,1,H,Clear
634,2011-08-27,Liverpool,3,Bolton,1,H,partly-cloudy-day
633,2011-08-27,Chelsea,3,Norwich,1,H,partly-cloudy-day
273,2011-11-19,Wolfsburg,4,Hannover,1,H,Clear
264,2012-05-06,Erzgebirge Aue,2,Bochum,1,H,partly-cloudy-day
991,2012-05-13,Wigan,3,Wolves,2,H,partly-cloudy-day

In [24]:
df['rain_home_win'] =np.where(np.logical_and(df['FTR']=='H',df['weather']=='rain'),1,0)

In [25]:
df['rain_away_win'] =np.where(np.logical_and(df['FTR']=='A',df['weather']=='rain'),1,0)

In [26]:
df['rain_wins'] = [1 if x == 'rain' else 0 for x in df['weather']]

In [27]:
df.sort_values(by=['HomeTeam'])
df

,Date,HomeTeam,FTHG,AwayTeam,FTAG,FTR,weather,rain_home_win,rain_away_win,rain_wins
0,2012-03-31,Nurnberg,0,Bayern Munich,1,A,partly-cloudy-day,0,0,0
673,2011-10-01,Everton,0,Liverpool,2,A,Clear,0,0,0
676,2011-10-01,Wolves,1,Newcastle,2,A,Clear,0,0,0
677,2011-10-02,Bolton,1,Chelsea,5,A,Clear,0,0,0
687,2011-10-15,Wigan,1,Bolton,3,A,clear-day,0,0,0
691,2011-10-22,Aston Villa,1,West Brom,2,A,Clear,0,0,0
692,2011-10-22,Bolton,0,Sunderland,2,A,Clear,0,0,0
235,2011-09-16,Freiburg,1,Stuttgart,2,A,partly-cloudy-day,0,0,0
697,2011-10-23,Blackburn,1,Tottenham,2,A,Clear,0,0,0
698,2011-10-23,Fulham,1,Everton,3,A,Clear,0,0,0
699,2011-10-23,Man United,1,Man City,6,A,Clear,0,0,0
231,2012-03-03,Hamburg,0,Stuttgart,4,A,Clear,0,0,0
230,2012-04-10,Augsburg,1,Stuttgart,3,A,partly-cloudy-day,0,0,0
229,2012-03-16,Hoffenheim,1,Stuttgart,2,A,Clear,0,0,0
701,2011-10-29,Chelsea,3,Arsenal,5,A,Clear,0,0,0
227,2011-09-30,Kaiserslautern,0,Stuttgart,2,A,Clear,0,0,0
702,2011-10-29,Everton,0,Man United,1,A,Clear,0,0,0
707,2011-10-29,West Brom,0,Liverpool,2,A,Clear,0,0,0
672,2011-10-01,Blackburn,0,Man City,4,A,Clear,0,0,0
708,2011-10-29,Wigan,0,Fulham,2,A,Clear,0,0,0
249,2012-02-18,Hamburg,1,Werder Bremen,3,A,partly-cloudy-day,0,0,0
252,2011-10-29,Mainz,1,Werder Bremen,3,A,Clear,0,0,0
624,2011-08-20,Everton,0,QPR,1,A,clear-day,0,0,0
279,2011-08-13,Nurnberg,1,Hannover,2,A,partly-cloudy-day,0,0,0
625,2011-08-20,Sunderland,0,Newcastle,1,A,clear-day,0,0,0
627,2011-08-21,Bolton,2,Man City,3,A,Clear,0,0,0
632,2011-08-27,Blackburn,0,Everton,1,A,partly-cloudy-day,0,0,0
271,2011-10-01,Ingolstadt,3,Bochum,5,A,Clear,0,0,0
639,2011-08-28,Tottenham,1,Man City,5,A,partly-cloudy-day,0,0,0
640,2011-08-28,West Brom,0,Stoke,1,A,partly-cloudy-day,0,0,0
...,...,...,...,...,...,...,...,...,...,...
663,2011-09-24,Liverpool,2,Wolves,1,H,clear-day,0,0,0
662,2011-09-24,Chelsea,4,Swansea,1,H,clear-day,0,0,0
661,2011-09-24,Arsenal,3,Bolton,0,H,clear-day,0,0,0
660,2011-09-18,Tottenham,4,Liverpool,0,H,partly-cloudy-day,0,0,0
659,2011-09-18,Sunderland,4,Stoke,0,H,partly-cloudy-day,0,0,0
658,2011-09-18,Man United,3,Chelsea,1,H,partly-cloudy-day,0,0,0
256,2012-04-11,Aachen,2,Bochum,0,H,partly-cloudy-day,0,0,0
257,2011-09-12,Dresden,2,Bochum,1,H,partly-cloudy-day,0,0,0
655,2011-09-17,Swansea,3,West Brom,0,H,Clear,0,0,0
654,2011-09-17,Everton,3,Wigan,1,H,Clear,0,0,0
258,2012-03-30,Ein Frankfurt,3,Bochum,0,H,partly-cloudy-day,0,0,0
652,2011-09-17,Blackburn,4,Arsenal,3,H,Clear,0,0,0
261,2012-02-12,St Pauli,2,Bochum,1,H,partly-cloudy-day,0,0,0
742,2011-12-03,Blackburn,4,Swansea,2,H,cloudy,0,0,0
262,2011-08-20,Union Berlin,2,Bochum,1,H,clear-day,0,0,0
266,2012-03-18,Duisburg,2,Bochum,1,H,partly-cloudy-day,0,0,0
645,2011-09-10,Stoke,1,Liverpool,0,H,partly-cloudy-day,0,0,0
644,2011-09-10,Man City,3,Wigan,0,H,partly-cloudy-day,0,0,0
268,2011-07-18,Fortuna Dusseldorf,2,Bochum,0,H,partly-cloudy-day,0,0,0
641,2011-09-10,Arsenal,1,Swansea,0,H,partly-cloudy-day,0,0,0
269,2012-02-25,Greuther Furth,6,Bochum,2,H,partly-cloudy-day,0,0,0
638,2011-08-28,Newcastle,2,Fulham,1,H,partly-cloudy-day,0,0,0
637,2011-08-28,Man United,8,Arsenal,2,H,partly-cloudy-day,0,0,0
636,2011-08-27,Wigan,2,QPR,0,H,partly-cloudy-day,0,0,0
272,2012-03-24,Bayern Munich,2,Hannover,1,H,Clear,0,0,0
634,2011-08-27,Liverpool,3,Bolton,1,H,partly-cloudy-day,0,0,0
633,2011-08-27,Chelsea,3,Norwich,1,H,partly-cloudy-day,0,0,0
273,2011-11-19,Wolfsburg,4,Hannover,1,H,Clear,0,0,0
264,2012-05-06,Erzgebirge Aue,2,Bochum,1,H,partly-cloudy-day,0,0,0
991,2012-05-13,Wigan,3,Wolves,2,H,partly-cloudy-day,0,0,0